$primay-color = #ffc0ce
rem($px)
  $px /37.5 rem
.header
  width 100%
  height rem(40)
  background #ee1a1a
  .header-con
    height rem(40)
    padding 0 rem(23)
    .header-item
      display inline-block
      line-height rem(40)
      padding-right rem(20)
      font-size rem(16)
      vertical-align top
      color #ffcdce
      &.active
        font-size rem(17)
        color #fff
// banner module
.banner-wrapper
  width 100%
  height rem(190)
  img
    width 100%